@charset "UTF-8";
/*////[Reset CSS pré-fait converti en SCSS]
________________________________________________________*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*////[Box-sizing]
________________________________________________________*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*////[Autres resets]
________________________________________________________*/
/*[Reset des liens]*/
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
}

label, input, button {
  outline: none;
}

::-moz-selection {
  background: var(--gris);
  color: var(--blanc);
}

::selection {
  background: var(--gris);
  color: var(--blanc);
}

::-moz-selection {
  background: var(--gris);
  color: var(--blanc);
}

/*////[Variable de couleurs]
________________________________________________________*/
:root {
  /*[Blanc]*/
  --blanc: hsl(0, 0%, 100%);
  /*[Noir]*/
  --noir: hsl(0, 0%, 0%);
  /*[Gris]*/
  --gris: hsl(0, 0%, 14%);
  --gris-pale: hsl(240, 5%, 93%);
  --gris-moyen:  hsl(0, 0%, 77%);
  --gris-fonce: hsl(0, 0%, 7%);
  /*[Rouge]*/
  --rouge: hsl(7, 80%, 64%);
  /*[Jaune]*/
  --jaune: hsl(51, 100%, 86%);
  /*[Bleu]*/
  --bleu: hsl(172, 23%, 68%);
}

/*////[Mixins pour flex]
________________________________________________________*/
/*[Display flex en colonne]*/
/*[Display flex en rangée]*/
/*////[Autres mixins]
________________________________________________________*/
/*[Mixin pour h2 span]*/
/*////[Code SCSS structure GRID des pages de l'admin]
________________________________________________________*/
.interface-admin {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'nav page';
  -ms-grid-columns: 380px 1fr;
      grid-template-columns: 380px 1fr;
}

.interface-admin > .nav-admin {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  background-color: var(--blanc);
  height: 100%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interface-admin > .page-admin {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: page;
  background-color: var(--gris-pale);
  height: 100vh;
  overflow-x: hidden;
}

/*////[Code SCSS structure GRID des pages user]
________________________________________________________*/
.interface-user {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'navHaut'  'navPrincipale'  'header'  'intro'  'ariane'  'vinyle'  'suggestions'  'nouveaute'  'heures'  'promotion'  'commander'  'livraison'  'entreprise'  'footer';
}

/*////[Code SCSS structure GRID pour la liste des articles user]
________________________________________________________*/
.liste-vinyles > .vinyles-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

/*////[Code SCSS structure GRID couche suggestions]
________________________________________________________*/
.suggestions-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

/*////[Code SCSS général pour les boutons]
________________________________________________________*/
.bouton {
  cursor: pointer;
  width: 200px;
  padding: 1em;
  background-color: var(--blanc);
  border: none;
  border-radius: 60px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  color: var(--bleu) !important;
  font-weight: 600;
  font-size: .8rem;
  -webkit-transition: color .3s, background-color .5s, -webkit-box-shadow .5s;
  transition: color .3s, background-color .5s, -webkit-box-shadow .5s;
  transition: box-shadow .5s, color .3s, background-color .5s;
  transition: box-shadow .5s, color .3s, background-color .5s, -webkit-box-shadow .5s;
  text-align: center;
}

.bouton:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--blanc) !important;
  background-color: var(--bleu);
}

.bouton-form, .bouton-form-rouge, .pop-up > article > div > .actions-pop-up > a:last-of-type {
  cursor: pointer;
  text-align: center;
  width: 200px;
  padding: 1em;
  font-size: .8rem;
  background-color: var(--blanc);
  border: none;
  border-radius: 60px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  color: var(--bleu);
  font-weight: 600;
  -webkit-transition: color .3s, background-color .5s, -webkit-box-shadow .5s;
  transition: color .3s, background-color .5s, -webkit-box-shadow .5s;
  transition: box-shadow .5s, color .3s, background-color .5s;
  transition: box-shadow .5s, color .3s, background-color .5s, -webkit-box-shadow .5s;
  font-family: 'Raleway', sans-serif;
}

.bouton-form:hover, .bouton-form-rouge:hover, .pop-up > article > div > .actions-pop-up > a:hover:last-of-type {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--blanc);
  background-color: var(--bleu);
}

.bouton-form-rouge, .pop-up > article > div > .actions-pop-up > a:last-of-type {
  z-index: 2;
  color: var(--blanc);
  background-color: var(--rouge);
  margin-bottom: .8rem;
}

.bouton-form-rouge:hover, .pop-up > article > div > .actions-pop-up > a:hover:last-of-type {
  color: var(--blanc);
  background-color: #6ad68b;
}

.bouton-annuler, .pop-up > article > div > .actions-pop-up > a:first-of-type {
  cursor: pointer;
  z-index: 1;
  color: var(--gris-moyen) !important;
  background-color: var(--blanc);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bouton-annuler:hover, .pop-up > article > div > .actions-pop-up > a:hover:first-of-type {
  color: var(--rouge) !important;
  background-color: var(--blanc);
}

.bouton-remonter {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 3rem;
  background: none;
  outline: none;
  border: none;
  color: white;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.logo-normal,
.logo-blanc {
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.logo-normal:hover,
.logo-blanc:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
}

/*////[Code SCSS barre de défilement]
________________________________________________________*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: var(--gris);
}

::-webkit-scrollbar-thumb {
  background: var(--bleu);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gris-moyen);
}

/*////[Code SCSS haut de page (nav langue)]
________________________________________________________*/
.haut-page {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navHaut;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--blanc);
  padding: 1em 3em 2em 3em;
}

.haut-page > .nav-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  color: var(--bleu);
}

.haut-page > .nav-user > * {
  margin-left: 1em;
}

.haut-page > .nav-user > p > a {
  font-size: .9rem;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.haut-page > .nav-user > p > a > span {
  font-weight: 800;
}

.haut-page > .nav-user > p > a:hover {
  color: var(--gris);
}

.haut-page > .nav-user > a {
  font-size: 1.2rem;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.haut-page > .nav-user > a:hover {
  color: var(--gris);
}

.haut-page > .logo-haut {
  margin: 0 auto;
}

.haut-page > .logo-haut img {
  width: 250px;
}

/*////[Code SCSS nav principale user]
________________________________________________________*/
.nav-principale {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: navPrincipale;
  border: 1px solid var(--gris-pale);
  text-align: center;
  z-index: 1000;
  background-color: var(--blanc);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.nav-principale > .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-principale > .menu li.actif, .nav-principale > .menu li.onglet:hover {
  border-bottom: 4px solid var(--rouge);
}

.nav-principale > .menu .onglet {
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .9rem;
  padding: 1em;
  border-bottom: 4px solid var(--blanc);
  -webkit-transition: border .2s;
  transition: border .2s;
}

.nav-principale > .menu > .onglet-groupe {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-principale > .menu > .onglet-groupe > li:hover + .sous-menu,
.nav-principale > .menu > .onglet-groupe > .sous-menu:hover {
  visibility: visible;
  opacity: 1;
  border-bottom: 4px solid var(--rouge);
}

.nav-principale > .menu > .onglet-groupe > .sous-menu {
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  position: absolute;
  top: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--blanc);
  border: 1px solid var(--gris-pale);
  -webkit-transition: visibility .2s, opacity .2s;
  transition: visibility .2s, opacity .2s;
}

.nav-principale > .menu > .onglet-groupe > .sous-menu a {
  padding: 1em;
  width: 100%;
  border-bottom: 1px solid var(--gris-pale);
  font-weight: 400;
  text-transform: uppercase;
  font-size: .9rem;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*////[Code SCSS nav principale admin]
________________________________________________________*/
.nav-admin > .fixed {
  margin-top: 2rem;
  position: fixed;
}

.nav-admin > .fixed > a {
  color: var(--gris-moyen);
}

.nav-admin > .fixed > a > img {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.nav-admin > .fixed > a:hover > img {
  opacity: 60%;
}

.nav-admin > .fixed > .onglets {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-admin > .fixed > .onglets > h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

.nav-admin > .fixed > .onglets > h2 > span {
  background: #fff;
  padding: 0 10px;
}

.nav-admin > .fixed > .onglets > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1em;
  border: 1px solid var(--blanc);
  -webkit-transition: border .5s;
  transition: border .5s;
}

.nav-admin > .fixed > .onglets > a > .icone {
  min-width: 70px;
  font-size: 2.5rem;
  color: var(--gris);
  fill: var(--gris);
}

.nav-admin > .fixed > .onglets > a > .icone > svg {
  width: 60px;
}

.nav-admin > .fixed > .onglets > a > .onglet {
  color: var(--gris);
  text-align: left;
  width: 100%;
  font-weight: 600;
}

.nav-admin > .fixed > .onglets > a:first-of-type > .icone {
  padding-left: .25em;
}

.nav-admin > .fixed > .onglets > a:nth-of-type(2) > .icone > svg {
  width: 50px;
}

.nav-admin > .fixed > .onglets > a:last-of-type {
  border-bottom: 1px solid var(--noir);
}

.nav-admin > .fixed > .onglets > a:hover {
  border: 1px solid var(--noir);
}

.nav-admin > .fixed > .onglets > a.selected {
  border: 1px solid var(--bleu);
}

.nav-admin > .fixed > .onglets > a.selected > .icone,
.nav-admin > .fixed > .onglets > a.selected > .onglet {
  color: var(--bleu);
  fill: var(--bleu);
}

/*////[Code SCSS header]
________________________________________________________*/
.header-accueil {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: header;
  position: relative;
  background: url(../../images/header/header-accueil-1024.jpg) center;
  background-size: cover;
  height: 600px;
  padding: 0 15vw;
}

.header-accueil > h1 {
  position: absolute;
  bottom: 100px;
  font-size: 1.8rem;
  color: var(--jaune);
}

.header-accueil > h1 span {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 2.5rem;
}

.header-vinyles {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: header;
  height: 360px;
  background: url(../../images/header/header-vinyles-1024.jpg) top center;
  background-size: cover;
}

/*////[Code SCSS pour le fil d'ariane]
________________________________________________________*/
.ariane {
  padding: 1rem 2.5rem;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: ariane;
  background-color: var(--bleu);
  color: var(--blanc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.ariane > a {
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.ariane > a:hover {
  color: var(--noir);
}

.ariane > * {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 500;
  margin: 0 0.5rem;
}

.ariane > h4:last-of-type {
  font-weight: 100;
}

/*////[Code SCSS des détails de l'article]
________________________________________________________*/
.vinyle-details {
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vinyle-details > h3 {
  font-weight: 500;
  font-size: 1.9rem;
  width: 30%;
  text-align: center;
  line-height: 2.9rem;
  margin-bottom: 3rem;
}

.vinyle-details > h3:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100px;
  padding-top: 20px;
  border-bottom: 1px solid var(--noir);
}

.vinyle-details > .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vinyle-details > .details-container > * {
  margin: 0 2rem;
}

.vinyle-details > .details-container > .details-infos {
  position: relative;
  width: 400px;
  border: 1px solid var(--gris-pale);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vw;
}

.vinyle-details > .details-container > .details-infos > .details-prix {
  width: 100%;
  padding: 1em 0;
  background-color: var(--rouge);
  color: var(--blanc);
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
}

.vinyle-details > .details-container > .details-infos > ul > li {
  margin: 2em 6em;
  line-height: 1.3rem;
}

.vinyle-details > .details-container > .details-infos > ul > li > span {
  font-weight: 500;
}

.vinyle-details > .details-container > .details-infos > ul > li.quantite {
  text-align: center;
  color: #6ad68b;
  font-weight: bold;
}

.vinyle-details > .details-container > .details-infos > .bouton {
  position: absolute;
  bottom: 2rem;
}

/*////[Code SCSS pour les couches récurrentes de user]
________________________________________________________*/
/*[Couche de l'intro de la section (« Nos vinyles »)]*/
.vinyles-intro {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: intro;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 15vw 7rem 15vw;
}

.vinyles-intro > h2 {
  width: 100%;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 2.5rem 2rem 2rem 2rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  border-bottom: 1px solid var(--noir);
  line-height: 0.1em;
  text-transform: uppercase;
  color: var(--noir);
}

.vinyles-intro > h2 > span {
  background: var(--blanc);
  padding: 0 10px;
}

.vinyles-intro > .intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
}

.vinyles-intro > .intro-container > p {
  width: 40%;
  margin-top: 3rem;
  line-height: 1.9rem;
}

.vinyles-intro > img {
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
}

/*[Couche des suggestions]*/
.suggestions {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: suggestions;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 15vw 7rem 15vw;
}

.suggestions h3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.suggestions a {
  padding: 2em;
  border: 1px solid var(--gris-pale);
  background-color: var(--blanc);
  -webkit-transition: background-color .2s, -webkit-box-shadow .2s;
  transition: background-color .2s, -webkit-box-shadow .2s;
  transition: background-color .2s, box-shadow .2s;
  transition: background-color .2s, box-shadow .2s, -webkit-box-shadow .2s;
}

.suggestions a > .vinyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.suggestions a > .vinyle > * {
  margin-top: 1rem;
}

.suggestions a > .vinyle > .vinyle-image {
  width: 100%;
}

.suggestions a > .vinyle > .vinyle-nom {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
}

.suggestions a > .vinyle > .vinyle-prix {
  font-family: 'Playfair Display', serif;
  font-size: 1.7rem;
}

.suggestions a:hover {
  background-color: var(--gris-pale);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/*[Couche « Nouvel arrivage »]*/
.nouveaute {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: nouveaute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15vw;
  background-color: var(--jaune);
}

.nouveaute > h2 {
  width: 100%;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 2.5rem 2rem 2rem 2rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  border-bottom: 1px solid var(--noir);
  line-height: 0.1em;
  text-transform: uppercase;
  color: var(--noir);
}

.nouveaute > h2 > span {
  background: var(--jaune);
  padding: 0 10px;
}

.nouveaute > .nouveaute-container > .nouveaute-carrousel > a > .vinyle {
  height: 80%;
  display: block;
  width: 80%;
  margin-top: 1rem;
}

.nouveaute > .nouveaute-container > .nouveaute-carrousel > a > .vinyle > .vinyle-image {
  width: 100px;
}

/*[Couche « Heures d'ouverture »]*/
.heures {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: heures;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 15vw 7rem 15vw;
}

.heures > .heures-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: var(--gris);
}

.heures > .heures-titre > h2 {
  width: 100%;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 2.5rem 2rem 2rem 2rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  border-bottom: 1px solid var(--blanc);
  line-height: 0.1em;
  text-transform: uppercase;
  color: var(--blanc);
}

.heures > .heures-titre > h2 > span {
  background: var(--gris);
  padding: 0 10px;
}

.heures > .heures-container {
  width: 100%;
  height: 100%;
  background: url(../../images/couches/heures-1024.jpg) center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--blanc);
  font-size: 1.2rem;
  padding: 4em;
}

.heures > .heures-container > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 280px;
}

.heures > .heures-container > ul > li {
  margin: 1rem;
}

.heures > .heures-container > ul > li:first-of-type {
  font-weight: 500;
}

.heures > .heures-container > ul > li:last-of-type {
  margin-left: auto;
}

/*[Couche de la promotion]*/
.promotion {
  height: 1000px;
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  grid-area: promotion;
  background: var(--gris-pale);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promotion > .promotion-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../../images/couches/table-tour.png) bottom no-repeat;
  background-size: contain;
  text-align: center;
  font-size: 1.7rem;
}

.promotion > .promotion-container > * {
  margin-top: 2rem;
}

.promotion > .promotion-container > p {
  margin-top: 7rem;
  line-height: 2.5rem;
}

.promotion > .promotion-container > p > span:first-of-type {
  color: var(--rouge);
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.promotion > .promotion-container > p > span:last-of-type {
  color: var(--rouge);
  font-weight: 500;
}

.promotion > .promotion-container > .table-svg {
  width: 400px;
}

.promotion > .promotion-container > a {
  width: 170px;
}

/*[Couche « Comment commander »]*/
.commander {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: commander;
  background-color: var(--noir);
  color: var(--blanc);
  padding: 4rem 15vw 7rem 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commander > h2 {
  width: 100%;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 2.5rem 2rem 2rem 2rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  border-bottom: 1px solid var(--blanc);
  line-height: 0.1em;
  text-transform: uppercase;
  color: var(--blanc);
}

.commander > h2 > span {
  background: var(--noir);
  padding: 0 10px;
}

.commander > .commander-etapes {
  margin-top: 2rem;
  width: 60%;
}

.commander > .commander-etapes > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 2rem 0;
}

.commander > .commander-etapes > ul > li {
  line-height: 1.5rem;
}

.commander > .commander-etapes > ul > li > span {
  color: var(--rouge);
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 5rem;
}

.commander > .commander-etapes > ul > li:last-of-type {
  margin-left: 1rem;
}

/*[Couche « Livraison »]*/
.livraison {
  -ms-grid-row: 12;
  -ms-grid-column: 1;
  grid-area: livraison;
  padding: 4rem 15vw 7rem 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.livraison > h2 {
  width: 100%;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 2.5rem 2rem 2rem 2rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  border-bottom: 1px solid var(--noir);
  line-height: 0.1em;
  text-transform: uppercase;
  color: var(--noir);
}

.livraison > h2 > span {
  background: var(--blanc);
  padding: 0 10px;
}

.livraison > .livraison-container {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.livraison > .livraison-container > .livraison-texte {
  width: 60%;
  padding-right: 5rem;
}

.livraison > .livraison-container > .livraison-texte > p {
  font-size: 1.1rem;
  line-height: 1.9rem;
  margin-bottom: 2rem;
}

.livraison > .livraison-container > .livraison-texte > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.livraison > .livraison-container > .livraison-texte > form > .groupe-champ > input {
  text-transform: uppercase;
}

.livraison > .livraison-container > .livraison-texte > form > .bouton-form, .livraison > .livraison-container > .livraison-texte > form > .bouton-form-rouge, .pop-up.livraison > article.livraison-container > div.livraison-texte > form.actions-pop-up > a:last-of-type {
  margin-left: 2rem;
}

.livraison > .livraison-container > .livraison-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

/*[Couche « L'entreprise »]*/
.entreprise {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  grid-area: entreprise;
  background: url(../../images/couches/entreprise-1024.jpg) center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--blanc);
}

.entreprise > .entreprise-container {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  padding: 8rem 15vw;
}

.entreprise > .entreprise-container > .entreprise-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.entreprise > .entreprise-container > .entreprise-titre > h2 {
  width: 100%;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 2.5rem 2rem 2rem 2rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  border-bottom: 1px solid var(--blanc);
  line-height: 0.1em;
  text-transform: uppercase;
  color: var(--blanc);
  text-align: left;
}

.entreprise > .entreprise-container > .entreprise-titre > h2 > span {
  background: var(--noir);
  padding: 0 10px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px var(--noir);
          box-shadow: 0 0 20px var(--noir);
}

.entreprise > .entreprise-container > p {
  line-height: 1.9rem;
  margin: 1rem 6rem 0 6rem;
}

.entreprise > .entreprise-container > p > span {
  font-style: italic;
}

/*////[Code SCSS pour la liste d'articles user]
________________________________________________________*/
.liste-vinyles {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: vinyle;
  padding: 3rem 3rem;
}

.liste-vinyles > .vinyles-container {
  border: 1px solid var(--gris-pale);
}

.liste-vinyles > .vinyles-container > a {
  padding: 2em;
  border: 1px solid var(--gris-pale);
  background-color: var(--blanc);
  -webkit-transition: background-color .2s, -webkit-box-shadow .2s;
  transition: background-color .2s, -webkit-box-shadow .2s;
  transition: background-color .2s, box-shadow .2s;
  transition: background-color .2s, box-shadow .2s, -webkit-box-shadow .2s;
}

.liste-vinyles > .vinyles-container > a > .vinyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.liste-vinyles > .vinyles-container > a > .vinyle > * {
  margin-top: 1rem;
}

.liste-vinyles > .vinyles-container > a > .vinyle > .vinyle-image {
  width: 100%;
}

.liste-vinyles > .vinyles-container > a > .vinyle > .vinyle-nom {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
}

.liste-vinyles > .vinyles-container > a > .vinyle > .vinyle-prix {
  font-family: 'Playfair Display', serif;
  font-size: 1.7rem;
}

.liste-vinyles > .vinyles-container > a:hover {
  background-color: var(--gris-pale);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/*////[Code SCSS pour la liste d'articles admin]
________________________________________________________*/
.liste-articles-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--gris-pale);
  padding: 0;
}

.liste-articles-admin > .article-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: var(--blanc);
  padding: 1.5em;
  margin-bottom: 1.5rem;
  width: 100%;
}

.liste-articles-admin > .article-admin > img {
  width: 200px;
}

.liste-articles-admin > .article-admin > .article-infos-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 1rem;
  width: 100%;
}

.liste-articles-admin > .article-admin > .article-infos-admin > .infos {
  width: 60%;
}

.liste-articles-admin > .article-admin > .article-infos-admin > .infos > li {
  margin: .7rem 0;
}

.liste-articles-admin > .article-admin > .article-infos-admin > .infos > li > span {
  font-weight: 500;
}

.liste-articles-admin > .article-admin > .article-infos-admin > .actions-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 2rem;
  width: 40%;
  text-align: center;
}

.liste-articles-admin > .article-admin > .article-infos-admin > .actions-article > a {
  cursor: pointer;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  font-size: 2rem;
  color: var(--bleu);
  margin: 0 1rem;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.liste-articles-admin > .article-admin > .article-infos-admin > .actions-article > a:hover {
  color: var(--gris);
}

.liste-articles-admin > .article-admin > .article-infos-admin > .actions-article > p {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1.6rem;
}

.liste-articles-admin > .article-admin > .article-infos-admin > .actions-article > p > span {
  font-weight: 500;
}

/*////[Code SCSS du layout des pages de gestion du site]
________________________________________________________*/
.page-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.page-admin > h2 {
  font-weight: 500;
  font-size: 1.7rem;
  margin: 7.5rem 2rem 2rem 2rem;
  font-family: 'Playfair Display', serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50vw;
  text-align: center;
  border-bottom: 1px solid var(--noir);
  line-height: 0.1em;
  text-transform: uppercase;
}

.page-admin > h2 > span {
  background: var(--gris-pale);
  padding: 0 10px;
}

.page-admin h4 {
  font-weight: 600;
  font-size: 1.3rem;
  padding-bottom: .5em;
  border-bottom: 1px solid var(--gris-pale);
}

.page-admin > .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  width: 50vw;
}

.page-admin > .contenu > h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.page-admin > .contenu > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: baseline;
  background: var(--blanc);
  padding: 2em;
  margin-bottom: 1rem;
  width: 100%;
}

.page-admin > .contenu > section:hover > p {
  color: var(--bleu);
}

.page-admin > .contenu > section > p {
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  color: var(--rouge);
  width: 100px;
  margin-top: -20px;
  border-radius: 40px;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.page-admin > .contenu > section > h4 {
  font-size: 1.3rem;
}

.page-admin > .contenu > section > .boutons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-admin > .contenu > section > .boutons > .bouton:first-of-type {
  margin-bottom: 1rem;
}

.page-admin > .contenu > form {
  padding: 2em;
  width: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--blanc);
}

.page-admin > .contenu > form > .groupe-champ {
  width: 70%;
}

.page-admin > .contenu > form > .groupe-champ .liste-images img {
  z-index: 1000;
  width: 100px;
  padding: 1em;
}

.page-admin > .contenu > form > .groupe-champ > label {
  font-weight: 500;
}

.page-admin > .contenu > form > .groupe-champ > input {
  width: 300px;
  margin-left: auto;
}

.page-admin > .contenu > form > .groupe-champ > input.duree {
  text-align: center;
  width: 149px;
}

.page-admin > .contenu > form > .groupe-champ > input.duree:last-of-type {
  margin-left: 0;
}

.page-admin > .contenu > form > .groupe-champ:last-of-type {
  margin: 3rem 0;
}

.page-admin > .contenu > form > .groupe-champ:last-of-type > .input-image {
  position: relative;
  margin-left: 7rem;
}

.page-admin > .contenu > form > .groupe-champ:last-of-type > .input-image > .cherche-image {
  position: relative;
  text-align: right;
  opacity: 0;
  z-index: 2;
}

.page-admin > .contenu > form > .groupe-champ:last-of-type > .input-image > .cherche-image:hover + .fake-input-image > .bouton {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--blanc) !important;
  background-color: var(--bleu);
}

.page-admin > .contenu > form > .groupe-champ:last-of-type > .input-image > .fake-input-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

/*////[Code SCSS footer]
________________________________________________________*/
footer {
  -ms-grid-row: 14;
  -ms-grid-column: 1;
  grid-area: footer;
  background: var(--gris);
  color: var(--blanc);
  padding: 4rem 15vw 1rem 15vw;
}

footer > h2 {
  text-align: center;
  border-bottom: 1px solid var(--blanc);
  background-color: green;
}

footer > .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > .footer-container > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

footer > .footer-container > .footer-contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
  text-align: center;
  line-height: 2rem;
  margin: 3rem;
}

footer > .footer-container > .footer-contact > p,
footer > .footer-container > .footer-contact > a:first-of-type {
  margin: 1rem 0;
}

footer > .footer-container > .footer-contact > p {
  font-weight: 500;
}

footer > .footer-container > .footer-contact > .reseaux-sociaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > .footer-container > .footer-contact > .reseaux-sociaux > a {
  font-size: 2rem;
  margin: 2rem 1rem 0 1rem;
  -webkit-transition: color .3s;
  transition: color .3s;
}

footer > .footer-container > .footer-contact > .reseaux-sociaux > a:hover {
  color: var(--bleu);
}

footer > .footer-container > .footer-contact img {
  width: 120px;
}

footer > .footer-container > .footer-questions {
  margin: 2.3rem 0;
}

footer > .footer-container > .footer-questions > h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 1.5rem;
}

footer > .footer-container > .footer-questions > p {
  font-size: .9rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}

footer > .footer-container > .footer-questions > form {
  margin-top: .5rem;
}

footer > .footer-container > .footer-questions > form > .groupe-champ {
  width: 100%;
}

footer > .footer-container > .footer-questions > form > .groupe-champ > textarea,
footer > .footer-container > .footer-questions > form > .groupe-champ > input {
  width: 100%;
  color: var(--blanc);
  background-color: var(--gris);
  margin-bottom: 1rem;
}

footer > .footer-container > .footer-questions > form > .groupe-champ > textarea {
  height: 150px;
}

footer > .copyright {
  margin-top: 1rem;
  text-align: center;
  font-size: .8rem;
}

/*////[Code SCSS formulaire général]
________________________________________________________*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

form > .groupe-champ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form > .groupe-champ > input {
  padding: .5em;
  border: none;
  border-bottom: 1.5px solid var(--bleu);
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

form > .groupe-champ > input::-webkit-input-placeholder {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--gris-moyen);
}

form > .groupe-champ > input:-ms-input-placeholder {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--gris-moyen);
}

form > .groupe-champ > input::-ms-input-placeholder {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--gris-moyen);
}

form > .groupe-champ > input::placeholder {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--gris-moyen);
}

form > .groupe-champ > textarea {
  padding: .5em;
  border: none;
  border-bottom: 1.5px solid var(--bleu);
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  resize: none;
}

form > .groupe-champ > textarea::-webkit-input-placeholder {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--gris-moyen);
}

form > .groupe-champ > textarea:-ms-input-placeholder {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--gris-moyen);
}

form > .groupe-champ > textarea::-ms-input-placeholder {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--gris-moyen);
}

form > .groupe-champ > textarea::placeholder {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--gris-moyen);
}

/*////[Code SCSS connexion admin]
________________________________________________________*/
.connexion-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.connexion-admin > img {
  width: 350px;
  margin-bottom: 2rem;
}

.connexion-admin > h1 {
  font-weight: 500;
  font-size: 1.7rem;
  margin: 2rem 0;
  font-family: 'Playfair Display', serif;
}

.connexion-admin > form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connexion-admin > form > .groupe-champ {
  margin-bottom: 2rem;
}

.connexion-admin > form > .groupe-champ > label {
  font-size: 2rem;
  color: var(--bleu);
  margin-right: .5rem;
}

.connexion-admin > form > .groupe-champ > .champ {
  width: 350px;
}

.connexion-admin > form > a {
  color: var(--noir);
  margin-top: 2rem;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.connexion-admin > form > a:hover {
  color: var(--rouge);
}

/*////[Code SCSS carrousel page accueil]
________________________________________________________*/
/*////[Code SCSS carrousel page de détails]
________________________________________________________*/
.carrousel-vignettes .slick-slide {
  opacity: 0.5;
}

.carrousel-vignettes .slick-slide.vignette-active {
  opacity: 1;
}

/*////[Code SCSS pop-up de confirmation effacer article admin]
________________________________________________________*/
#pop-up-delete {
  display: none;
}

.pop-up {
  position: absolute;
  top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--blanc);
  width: 40vw;
  border: 1px solid var(--noir);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.pop-up > a {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8em;
  color: var(--blanc);
  font-size: 1.2rem;
}

.pop-up > h3 {
  font-size: 1.1rem;
  background: var(--rouge);
  padding: 1em;
  width: 100%;
  font-weight: 500;
  color: var(--blanc);
}

.pop-up > article {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pop-up > article > img {
  width: 230px;
}

.pop-up > article > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pop-up > article > div > p {
  margin: 1rem 0 3rem 0;
  font-size: 1.2rem;
}

.pop-up > article > div > p > span {
  font-weight: 500;
}

.pop-up > article > div > .actions-pop-up > * {
  margin: 0 .7rem;
}
/*# sourceMappingURL=style.css.map */