@charset "UTF-8";
/*////[Variable de couleurs]
________________________________________________________*/
:root {
  /*[Blanc]*/
  --blanc: hsl(0, 0%, 100%);
  /*[Noir]*/
  --noir: hsl(0, 0%, 0%);
  /*[Gris]*/
  --gris: hsl(0, 0%, 14%);
  --gris-pale: hsl(240, 5%, 93%);
  --gris-moyen:  hsl(0, 0%, 77%);
  --gris-fonce: hsl(0, 0%, 7%);
  /*[Rouge]*/
  --rouge: hsl(7, 80%, 64%);
  /*[Jaune]*/
  --jaune: hsl(57, 72%, 85%);
  /*[Bleu]*/
  --bleu: hsl(172, 23%, 68%);
}

/*////[Reset CSS pré-fait converti en SCSS]
________________________________________________________*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*////[Box-sizing]
________________________________________________________*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*////[Autres resets]
________________________________________________________*/
/*[Reset des liens]*/
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
}

label, input, button {
  outline: none;
}

/*////[Mixins pour flex]
________________________________________________________*/
/*[Display flex en colonne]*/
/*[Display flex en rangée]*/
/*////[Code SCSS structure GRID des pages de l'admin]
________________________________________________________*/
.interface-admin {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'nav page';
  -ms-grid-columns: 380px 1fr;
      grid-template-columns: 380px 1fr;
}

.interface-admin > .nav-admin {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  background-color: var(--blanc);
  height: 100%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interface-admin > .page-admin {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: page;
  background-color: var(--gris-pale);
  height: 100vh;
  overflow-x: hidden;
}

/*////[Code SCSS structure GRID des pages user]
________________________________________________________*/
/*////[Code SCSS nav principale user]
________________________________________________________*/
.bouton-remonter {
  display: none;
  position: fixed;
  top: 100px;
  right: 100px;
}

/*////[Code SCSS nav principale admin]
________________________________________________________*/
.nav-admin > .fixed {
  margin-top: 2rem;
  position: fixed;
}

.nav-admin > .fixed > a {
  color: var(--gris-moyen);
}

.nav-admin > .fixed > a > img {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.nav-admin > .fixed > a:hover > img {
  opacity: 60%;
}

.nav-admin > .fixed > .onglets {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-admin > .fixed > .onglets > h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

.nav-admin > .fixed > .onglets > h2 > span {
  background: #fff;
  padding: 0 10px;
}

.nav-admin > .fixed > .onglets > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1em;
  border: 1px solid var(--blanc);
  -webkit-transition: border .5s;
  transition: border .5s;
}

.nav-admin > .fixed > .onglets > a > .icone {
  min-width: 70px;
  font-size: 2.5rem;
  color: var(--gris);
  fill: var(--gris);
}

.nav-admin > .fixed > .onglets > a > .icone > svg {
  width: 60px;
}

.nav-admin > .fixed > .onglets > a > .onglet {
  color: var(--gris);
  text-align: left;
  width: 100%;
  font-weight: 600;
}

.nav-admin > .fixed > .onglets > a:first-of-type > .icone {
  padding-left: .25em;
}

.nav-admin > .fixed > .onglets > a:nth-of-type(2) > .icone > svg {
  width: 50px;
}

.nav-admin > .fixed > .onglets > a:last-of-type {
  border-bottom: 1px solid var(--noir);
}

.nav-admin > .fixed > .onglets > a:hover {
  border: 1px solid var(--noir);
}

.nav-admin > .fixed > .onglets > a.selected {
  border: 1px solid var(--bleu);
}

.nav-admin > .fixed > .onglets > a.selected > .icone,
.nav-admin > .fixed > .onglets > a.selected > .onglet {
  color: var(--bleu);
  fill: var(--bleu);
}

/*////[Code SCSS du layout des pages de gestion du site]
________________________________________________________*/
.page-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.page-admin > h2 {
  font-weight: 500;
  font-size: 1.7rem;
  margin: 7.5rem 2rem 2rem 2rem;
  font-family: 'Playfair Display', serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50vw;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  text-transform: uppercase;
}

.page-admin > h2 > span {
  background: var(--gris-pale);
  padding: 0 10px;
}

.page-admin > .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  width: 50vw;
}

.page-admin > .contenu > h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.page-admin > .contenu > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: baseline;
  background: var(--blanc);
  padding: 2em;
  margin-bottom: 1rem;
  width: 100%;
}

.page-admin > .contenu > section:hover > p {
  color: var(--bleu);
}

.page-admin > .contenu > section > p {
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  color: var(--rouge);
  width: 100px;
  margin-top: -20px;
  border-radius: 40px;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.page-admin > .contenu > section > h4 {
  font-size: 1.3rem;
}

.page-admin > .contenu > section > .boutons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-admin > .contenu > section > .boutons > .bouton:first-of-type {
  margin-bottom: 1rem;
}

.page-admin > .contenu > form {
  padding: 2em;
  width: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--blanc);
}

.page-admin > .contenu > form > .groupe-champ {
  width: 70%;
}

.page-admin > .contenu > form > .groupe-champ > label {
  font-weight: 500;
}

.page-admin > .contenu > form > .groupe-champ > input {
  width: 300px;
  margin-left: auto;
}

.page-admin > .contenu > form > .groupe-champ > input.duree {
  text-align: center;
  width: 149px;
}

.page-admin > .contenu > form > .groupe-champ > input.duree:last-of-type {
  margin-left: 0;
}

.page-admin > .contenu > form > .groupe-champ:last-of-type {
  margin: 3rem 0;
}

.page-admin > .contenu > form > .groupe-champ:last-of-type > .input-image {
  position: relative;
  margin-left: 7rem;
}

.page-admin > .contenu > form > .groupe-champ:last-of-type > .input-image > .cherche-image {
  position: relative;
  text-align: right;
  opacity: 0;
  z-index: 2;
}

.page-admin > .contenu > form > .groupe-champ:last-of-type > .input-image > .cherche-image:hover + .fake-input-image > .bouton {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--blanc) !important;
  background-color: var(--bleu);
}

.page-admin > .contenu > form > .groupe-champ:last-of-type > .input-image > .fake-input-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.page-admin > .contenu > form > .bouton-form:first-of-type {
  z-index: 2;
  color: var(--blanc);
  background-color: var(--rouge);
  margin-bottom: .8rem;
}

.page-admin > .contenu > form > .bouton-form:first-of-type:hover {
  color: var(--blanc);
  background-color: #6ad68b;
}

.page-admin > .contenu > form > .bouton {
  z-index: 1;
  color: var(--gris-moyen) !important;
  background-color: var(--blanc);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-admin > .contenu > form > .bouton:hover {
  color: var(--rouge) !important;
  background-color: var(--blanc);
}

/*////[Code SCSS général pour les boutons]
________________________________________________________*/
.bouton {
  width: 200px;
  padding: 1em;
  background-color: var(--blanc);
  border: none;
  border-radius: 60px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 10px 20px var(--gris-moyen);
          box-shadow: 0 10px 20px var(--gris-moyen);
  color: var(--bleu) !important;
  font-weight: 600;
  font-size: .8rem;
  -webkit-transition: color .3s, background-color .5s, -webkit-box-shadow .5s;
  transition: color .3s, background-color .5s, -webkit-box-shadow .5s;
  transition: box-shadow .5s, color .3s, background-color .5s;
  transition: box-shadow .5s, color .3s, background-color .5s, -webkit-box-shadow .5s;
  text-align: center;
}

.bouton:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--blanc) !important;
  background-color: var(--bleu);
}

.bouton-form {
  cursor: pointer;
  text-align: center;
  width: 200px;
  padding: 1em;
  background-color: var(--blanc);
  border: none;
  border-radius: 60px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 10px 20px var(--gris-moyen);
          box-shadow: 0 10px 20px var(--gris-moyen);
  color: var(--bleu);
  font-weight: 600;
  -webkit-transition: color .3s, background-color .5s, -webkit-box-shadow .5s;
  transition: color .3s, background-color .5s, -webkit-box-shadow .5s;
  transition: box-shadow .5s, color .3s, background-color .5s;
  transition: box-shadow .5s, color .3s, background-color .5s, -webkit-box-shadow .5s;
  font-family: 'Raleway', sans-serif;
}

.bouton-form:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--blanc);
  background-color: var(--bleu);
}

/*////[Code SCSS connexion admin]
________________________________________________________*/
.connexion-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.connexion-admin > img {
  width: 350px;
  margin-bottom: 2rem;
}

.connexion-admin > h1 {
  font-weight: 500;
  font-size: 1.7rem;
  margin: 2rem 0;
  font-family: 'Playfair Display', serif;
}

.connexion-admin > form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connexion-admin > form > .groupe-champ {
  margin-bottom: 2rem;
}

.connexion-admin > form > .groupe-champ > label {
  font-size: 2rem;
  color: var(--bleu);
  margin-right: .5rem;
}

.connexion-admin > form > .groupe-champ > .champ {
  width: 350px;
}

.connexion-admin > form > a {
  color: var(--noir);
  margin-top: 2rem;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.connexion-admin > form > a:hover {
  color: var(--rouge);
}

/*////[Code SCSS carrousel page accueil]
________________________________________________________*/
/*////[Code SCSS carrousel page de détails]
________________________________________________________*/
.carrousel-vignettes .slick-slide {
  opacity: 0.5;
}

.carrousel-vignettes .slick-slide.vignette-active {
  opacity: 1;
}

/*////[Code SCSS formulaire général]
________________________________________________________*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

form > .groupe-champ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form > .groupe-champ > input {
  padding: .5em;
  border: none;
  border-bottom: 1.5px solid var(--bleu);
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

form > .groupe-champ > input::-webkit-input-placeholder {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--gris-moyen);
}

form > .groupe-champ > input:-ms-input-placeholder {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--gris-moyen);
}

form > .groupe-champ > input::-ms-input-placeholder {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--gris-moyen);
}

form > .groupe-champ > input::placeholder {
  font-size: .7rem;
  text-transform: uppercase;
  color: var(--gris-moyen);
}
/*# sourceMappingURL=style.css.map */