//----------------------------------------------------//
//                                                    //
//                 // CONNEXION //                    //
//                 _connexion.scss                    //
//----------------------------------------------------//

/*////[Code SCSS connexion admin]
________________________________________________________*/

.connexion-admin {
    @include flex-column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    justify-items: center;

    &>img {
        width: 350px;
        margin-bottom: 2rem;
    }

    &>h1 {
        font-weight: 500;
        font-size: 1.7rem;
        margin: 2rem 0;
        font-family: 'Playfair Display', serif;
    }

    &>form {
        align-items: center;
        justify-content: center;

        &>.groupe-champ {
            @include flex-row;
            margin-bottom: 2rem;

            &>label {
                font-size: 2rem;
                color: var(--bleu);
                margin-right: .5rem;
            }

            &>.champ {
                padding: .5em;
                border: none;
                border-bottom: 1.5px solid var(--bleu);
                width: 350px;
                font-family: 'Raleway', sans-serif;
                font-size: 1rem;

                &::placeholder {
                    font-size: .7rem;
                    text-transform: uppercase;
                    color: var(--gris-moyen);
                }
            }
        }

        &>a {
            color: var(--noir);
            margin-top: 2rem;
            transition: color .2s;

            &:hover {
                color: var(--rouge);
            }
        }
    }

}