//----------------------------------------------------//
//                                                    //
//               // FORMULAIRE //                     //
//               _formulaire.scss                     //
//----------------------------------------------------//

/*////[Code SCSS formulaire général]
________________________________________________________*/

form {
    @include flex-column;
    align-items: flex-start;
    justify-content: flex-start;

    &>.groupe-champ {
        @include flex-row;
        align-items: center;

        &>input {
            padding: .5em;
            border: none;
            border-bottom: 1.5px solid var(--bleu);
            font-family: 'Raleway', sans-serif;
            font-size: 1rem;

            &::placeholder {
                font-size: .7rem;
                text-transform: uppercase;
                color: var(--gris-moyen);
            }
        }
    }
}