//----------------------------------------------------//
//                                                    //
//                  // BOUTONS //                     //
//                  _boutons.scss                     //
//----------------------------------------------------//

/*////[Code SCSS général pour les boutons]
________________________________________________________*/

.bouton {
    @include bouton;

    &:hover {
        box-shadow: none;
        color: var(--blanc) !important;
        background-color: var(--bleu);
    }
}

.bouton-form {
    cursor: pointer;
    text-align: center;
    width: 200px;
    padding: 1em;
    font-size: .8rem;
    background-color: var(--blanc);
    border: none;
    border-radius: 60px;
    text-transform: uppercase;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    color: var(--bleu);
    font-weight: 600;
    transition: box-shadow .5s, color .3s, background-color .5s;
    font-family: 'Raleway', sans-serif;

    &:hover {
        box-shadow: none;
        color: var(--blanc);
        background-color: var(--bleu);
    }
}

.bouton-form-rouge {
    @extend .bouton-form;
    z-index: 2;
    color: var(--blanc);
    background-color: var(--rouge);
    margin-bottom: .8rem;

    &:hover {
        color: var(--blanc);
        background-color: rgb(106, 214, 139);
    }
}

.bouton-annuler {
    cursor: pointer;
    z-index: 1;
    color: var(--gris-moyen) !important;
    background-color: var(--blanc);
    box-shadow: none;

    &:hover {
        color: var(--rouge) !important;
        background-color: var(--blanc);
    }
}

.bouton-remonter {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 3rem;
    background: none;
    outline: none;
    border: none;
    color: white;
    text-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.logo-normal,
.logo-blanc {
    transition: filter 1s;

    &:hover {
        filter: hue-rotate(360deg);
    }
}


/*////[Code SCSS barre de défilement]
________________________________________________________*/

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: var(--gris);
}

::-webkit-scrollbar-thumb {
    background: var(--bleu);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gris-moyen);
}