//----------------------------------------------------//
//                                                    //
//                   // GESTION SITE //               //
//                   _gestionSite.scss                //
//----------------------------------------------------//

/*////[Code SCSS du layout des pages de gestion du site]
________________________________________________________*/

.page-admin {
    @include flex-column;
    align-items: center;
    width: 100%;

    &>h2 {
        font-weight: 500;
        font-size: 1.7rem;
        margin: 7.5rem 2rem 2rem 2rem;
        font-family: 'Playfair Display', serif;
        align-self: center;
        width: 50vw;
        text-align: center;
        border-bottom: 1px solid var(--noir);
        line-height: 0.1em;
        text-transform: uppercase;

        &>span {
            background: var(--gris-pale);
            padding: 0 10px;
        }
    }

    & h4 {
        font-weight: 600;
        font-size: 1.3rem;
        padding-bottom: .5em;
        border-bottom: 1px solid var(--gris-pale);
    }

    &>.contenu {

        @include flex-column;
        align-items: center;
        margin-top: 50px;
        width: 50vw;

        &>h3 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 2rem;
            line-height: 2.1rem;
        }

        &>.section-index-admin {
            @include flex-row;
            align-items: center;
            justify-items: baseline;
            background: var(--blanc);
            padding: 2em;
            margin-bottom: 1rem;
            width: 100%;

            &:hover>p {
                color: var(--bleu);
            }

            &>p {
                font-size: 4rem;
                font-family: 'Playfair Display', serif;
                font-weight: 600;
                color: var(--rouge);
                width: 100px;
                margin-top: -20px;
                border-radius: 40px;
                transition: color .5s;
            }

            &>h4 {
                font-size: 1.3rem;
            }

            &>.boutons {
                margin-left: auto;
                @include flex-column;

                &>.bouton:first-of-type {
                    margin-bottom: 1rem;
                }
            }
        }

        &>.form-admin {
            padding: 2em;
            width: 50vw;
            align-items: center;
            background: var(--blanc);

            &>.groupe-champ {
                width: 70%;

                & .liste-images {

                    & img {
                        z-index: 1000;
                        width: 100px;
                        padding: 1em;
                    }
                }

                &>label {
                    font-weight: 500;
                }

                &>input {
                    width: 300px;
                    margin-left: auto;

                    &.duree {
                        text-align: center;
                        max-width: 149px;

                        &:last-of-type {
                            margin-left: 0;
                        }
                    }
                }

                &:last-of-type {
                    margin: 3rem 0;

                    &>.input-image {
                        position: relative;
                        margin-left: 7rem;

                        &>.cherche-image {
                            position: relative;
                            text-align: right;
                            opacity: 0;
                            z-index: 2;

                            &:hover+.fake-input-image>.bouton {
                                box-shadow: none;
                                color: var(--blanc) !important;
                                background-color: var(--bleu);
                            }
                        }

                        &>.fake-input-image {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            z-index: 1;
                        }
                    }
                }
            }
        }

        &>.div-sup {
            position: relative;
            width: 50vw;

            &>.sup-form {
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 1rem;
                font-size: 2rem;
                color: var(--noir);
                transition: color .2s;
                &:hover {
                    color: var(--rouge);
                }
            }
        }
    }
}
