//----------------------------------------------------//
//                                                    //
//                  // LISTE ARTICLES //              //
//                  _listeArticles.scss               //
//----------------------------------------------------//

/*////[Code SCSS pour la liste d'articles user]
________________________________________________________*/

.liste-vinyles {
    grid-area: vinyle;
    padding: 3rem 3rem;

    &>.vinyles-container {
        border: 1px solid var(--gris-pale);
        width: 100%;

        &>a {
            padding: 2em;
            border: 1px solid var(--gris-pale);
            background-color: var(--blanc);
            transition: background-color .2s, box-shadow .2s;

            &>.vinyle {
                @include flex-column;
                align-items: center;
                justify-content: center;
                text-align: center;
                
                &>.vinyle-image {
                    width: 100%;
                }

                &>.vinyle-nom {
                    margin-top: 1rem;
                    text-transform: uppercase;
                    font-style: italic;
                    font-weight: 600;
                }

                &>.vinyle-prix {
                    margin-top: .5rem;
                    font-family: 'Playfair Display', serif;
                    font-size: 1.7rem;
                }
            }

            &:hover {
                background-color: var(--gris-pale);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            }
        }
    }
}


/*////[Code SCSS pour la liste d'articles admin]
________________________________________________________*/

.contenu {

    &>section.liste-articles-admin {
        @include flex-column;
        align-items: center;
        background: var(--gris-pale);
        padding: 0;
        width: 100%;

        &>.article-admin {
            @include flex-row;
            background: var(--blanc);
            padding: 1.5em;
            margin-bottom: 1.5rem;
            width: 100%;

            &>img {
                width: 200px;
            }

            &>.article-infos-admin {
                @include flex-row;
                margin-left: 1rem;
                width: 100%;

                &>.infos {
                    width: 60%;

                    &>li {
                        margin: .7rem 0;

                        &>span {
                            font-weight: 500;
                        }
                    }
                }

                &>.actions-article {
                    @include flex-row;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    padding-left: 2rem;
                    width: 40%;
                    text-align: center;

                    &>a {
                        cursor: pointer;
                        flex-basis: 10%;
                        font-size: 2rem;
                        color: var(--bleu);
                        margin: 0 1rem;
                        transition: color .3s;

                        &:hover {
                            color: var(--gris);
                        }
                        &>.act-tag{
                            font-size: 1rem;
                            margin-top: .5rem;
                            text-align: center;
                        }
                    }

                    &>p {
                        flex-basis: 100%;
                        font-size: 1.6rem;

                        &>span {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}