//----------------------------------------------------//
//                                                    //
//               // COUCHES D'INFOS //                //
//                _couchesInfos.scss                  //
//----------------------------------------------------//

/*////[Code SCSS pour les couches récurrentes de user]
________________________________________________________*/

/*[Couche de l'intro de la section (« Nos vinyles »)]*/
.vinyles-intro {
    grid-area: intro;
    position: relative;
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding: 4rem 15vw 7rem 15vw;

    &>h2 {
        @include titre-h2(var(--noir));

        &>span {
            @include titre-span(var(--blanc));
        }
    }

    &>.intro-container {
        @include flex-column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;

        &>p {
            width: 40%;
            margin-top: 3rem;
            line-height: 1.9rem;
        }
    }

    &>img {
        position: absolute;
        width: 200px;
        bottom: 0;
        left: 0;
    }

}

/*[Couche des suggestions]*/
.suggestions {
    grid-area: suggestions;
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding: 4rem 15vw 7rem 15vw;

    & a {
        padding: 2em;
        border: 1px solid var(--gris-pale);
        background-color: var(--blanc);
        transition: background-color .2s, box-shadow .2s;

        &>.vinyle {
            @include flex-column;
            align-items: center;
            justify-content: center;
            text-align: center;

            &>* {
                margin-top: 1rem;
            }

            &>.vinyle-image {
                width: 100%;
            }

            &>.vinyle-nom {
                text-transform: uppercase;
                font-style: italic;
                font-weight: 600;
            }

            &>.vinyle-prix {
                font-family: 'Playfair Display', serif;
                font-size: 1.7rem;
            }
        }

        &:hover {
            background-color: var(--gris-pale);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }
    }
}

/*[Couche « Nouvel arrivage »]*/
.nouveaute {
    grid-area: nouveaute;
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding: 0 15vw;
    background-color: var(--jaune);

    &>h2 {
        @include titre-h2(var(--noir));

        &>span {
            @include titre-span(var(--jaune));
        }
    }

    &>.nouveaute-container {

        &>.nouveaute-carrousel {
            &>a>.vinyle {
                height: 80%;
                display: block;
                width: 80%;
                margin-top: 1rem;

                &>.vinyle-image {
                    width: 100px;
                }
            }
        }

    }
}

/*[Couche « Heures d'ouverture »]*/
.heures {
    grid-area: heures;
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding: 4rem 15vw 7rem 15vw;

    &>.heures-titre {
        @include flex-column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: var(--gris);

        &>h2 {
            @include titre-h2(var(--blanc));

            &>span {
                @include titre-span(var(--gris));
            }
        }
    }

    &>.heures-container {
        width: 100%;
        height: 100%;
        background: url(../../images/couches/heures-1024.jpg) center;
        background-size: cover;
        @include flex-column;
        align-items: center;
        justify-content: center;
        color: var(--blanc);
        font-size: 1.2rem;
        padding: 4em;

        &>ul {
            @include flex-row;
            width: 280px;

            &>li {
                margin: 1rem;

                &:first-of-type {
                    font-weight: 500;
                }

                &:last-of-type {
                    margin-left: auto;
                }
            }
        }
    }
}

/*[Couche de la promotion]*/
.promotion {
    height: 1000px;
    grid-area: promotion;
    background: var(--gris-pale);
    @include flex-column;
    align-items: center;
    justify-content: center;
    // padding: 5rem 15vw;

    &>.promotion-container {
        height: 100%;
        width: 100%;
        @include flex-column;
        align-items: center;
        background: url(../../images/couches/table-tour.png) bottom no-repeat;
        background-size: contain;
        text-align: center;
        font-size: 1.7rem;

        &>* {
            margin-top: 2rem;
        }

        &>p {
            margin-top: 7rem;
            line-height: 2.5rem;

            &>span:first-of-type {
                color: var(--rouge);
                font-family: 'Playfair Display', serif;
                font-weight: bold;
                font-size: 2.5rem;
            }

            &>span:last-of-type {
                color: var(--rouge);
                font-weight: 500;
            }
        }

        &>.table-svg {
            width: 400px;
        }

        &>a {
            width: 170px;
        }

    }
}

/*[Couche « Comment commander »]*/
.commander {
    grid-area: commander;
    background-color: var(--noir);
    color: var(--blanc);
    padding: 4rem 15vw 7rem 15vw;
    @include flex-column;
    align-items: center;
    justify-content: center;

    &>h2 {
        @include titre-h2(var(--blanc));

        &>span {
            @include titre-span(var(--noir));
        }
    }

    &>.commander-etapes {
        margin-top: 2rem;
        width: 60%;

        &>ul {
            @include flex-row;
            align-items: flex-end;
            margin: 2rem 0;

            &>li {
                line-height: 1.5rem;

                &>span {
                    color: var(--rouge);
                    font-family: 'Playfair Display', serif;
                    font-weight: 600;
                    font-size: 5rem;
                }

                &:last-of-type {
                    margin-left: 1rem;
                }
            }
        }
    }
}

/*[Couche « Livraison »]*/
.livraison {
    grid-area: livraison;
    padding: 4rem 15vw 7rem 15vw;
    @include flex-column;
    align-items: center;
    justify-content: center;

    &>h2 {
        @include titre-h2(var(--noir));

        &>span {
            @include titre-span(var(--blanc));
        }
    }

    &>.livraison-container {
        padding: 3rem 0;
        @include flex-row;
        align-items: center;
        justify-content: center;

        &>.livraison-texte {
            width: 60%;
            padding-right: 5rem;

            &>p {
                font-size: 1.1rem;
                line-height: 1.9rem;
                margin-bottom: 2rem;
            }

            &>form {
                @include flex-row;
                align-items: center;

                &>.groupe-champ {
                    &>input {
                        text-transform: uppercase;
                    }
                }

                &>.bouton-form {
                    margin-left: 2rem;
                }
            }
        }

        &>.livraison-image {
            @include flex-column;
            align-items: center;
            justify-content: center;
            width: 40%;
        }
    }
}

/*[Couche « L'entreprise »]*/
.entreprise {
    grid-area: entreprise;
    background: url(../../images/couches/entreprise-1024.jpg) center;
    background-size: cover;
    @include flex-column;
    justify-content: center;
    color: var(--blanc);

    &>.entreprise-container {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        padding: 8rem 15vw;

        &>.entreprise-titre {
            @include flex-column;
            align-items: center;
            justify-content: center;
            width: 100%;

            &>h2 {
                @include titre-h2(var(--blanc));
                text-align: left;

                &>span {
                    @include titre-span(var(--noir));
                    border-radius: 30px;
                    box-shadow: 0 0 20px var(--noir);
                }
            }
        }

        &>p {
            line-height: 1.9rem;
            margin: 1rem 6rem 0 6rem;

            &>span {
                font-style: italic;
            }
        }
    }
}