//----------------------------------------------------//
//                                                    //
//                   // FOOTER //                     //
//                   _footer.scss                     //
//----------------------------------------------------//

/*////[Code SCSS footer]
________________________________________________________*/

footer {
    background: var(--gris);
    color: var(--blanc);
    padding: 4rem 15vw 1rem 15vw;

    &>h2 {
        text-align: center;
        border-bottom: 1px solid var(--blanc);
        background-color: green;
    }

    &>.footer-container {
        @include flex-row;
        justify-content: center;
        align-items: center;

        &>* {
            @include flex-column;
            width: 50%;
        }

        &>.footer-contact {
            justify-content: center;
            align-items: center;
            padding: 0 4rem;
            text-align: center;
            line-height: 2rem;
            margin: 3rem;

            &>p,
            &>a:first-of-type {
                margin: 1rem 0;
            }

            &>p {
                font-weight: 500;
            }

            &>.reseaux-sociaux {
                @include flex-row;
                justify-content: center;
                align-items: center;

                &>a {
                    font-size: 2rem;
                    margin: 2rem 1rem 0 1rem;
                    transition: color .3s;

                    &:hover {
                        color: var(--bleu);
                    }
                }
            }

            & img {
                width: 120px;
            }
        }

        &>.footer-questions {
            margin: 2.3rem 0;

            &>h3 {
                font-family: 'Playfair Display', serif;
                font-weight: bold;
                font-size: 1.5rem;
            }

            &>p {
                font-size: .9rem;
                line-height: 1.5rem;
                margin: 1rem 0;
            }

            &>form {
                margin-top: .5rem;

                &>.groupe-champ {
                    width: 100%;

                    &>textarea,
                    &>input {
                        width: 100%;
                        color: var(--blanc);
                        background-color: var(--gris);
                        margin-bottom: 1rem;
                    }

                    &>textarea {
                        height: 150px;
                    }
                }
            }
        }
    }

    &>.copyright {
        margin-top: 1rem;
        text-align: center;
        font-size: .8rem;
    }
}