//----------------------------------------------------//
//                                                    //
//                   // GESTION SITE //               //
//                   _gestionSite.scss                //
//----------------------------------------------------//

/*////[Code SCSS du layout des pages de gestion du site]
________________________________________________________*/

.page-admin {
    @include flex-column;
    align-items: center;
    width: 100%;

    &>h2 {
        font-weight: 500;
        font-size: 1.7rem;
        margin: 7.5rem 2rem 2rem 2rem;
        font-family: 'Playfair Display', serif;
        align-self: center;
        width: 50vw;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        text-transform: uppercase;

        &>span {
            background: var(--gris-pale);
            padding: 0 10px;
        }
    }

    & h4 {
        font-weight: 600;
        font-size: 1.3rem;
        padding-bottom: .5em;
        border-bottom: 1px solid var(--gris-pale);
    }

    &>.contenu {
        @include flex-column;
        align-items: center;
        margin-top: 50px;
        width: 50vw;

        &>h3 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        &>section {
            @include flex-row;
            align-items: center;
            justify-items: baseline;
            background: var(--blanc);
            padding: 2em;
            margin-bottom: 1rem;
            width: 100%;

            &:hover>p {
                color: var(--bleu);
            }

            &>p {
                font-size: 4rem;
                font-family: 'Playfair Display', serif;
                font-weight: 600;
                color: var(--rouge);
                width: 100px;
                margin-top: -20px;
                border-radius: 40px;
                transition: color .5s;
            }

            &>h4 {
                font-size: 1.3rem;
            }

            &>.boutons {
                margin-left: auto;
                @include flex-column;

                &>.bouton:first-of-type {
                    margin-bottom: 1rem;
                }
            }
        }

        &>.liste-articles-admin {
            @include flex-column;
            align-items: center;
            background: var(--gris-pale);
            padding: 0;

            &>.article-admin {
                @include flex-row;
                background: var(--blanc);
                padding: 1.5em;
                margin-bottom: 1.5rem;
                width: 100%;

                &>img {
                    width: 200px;
                }

                &>.article-infos-admin {
                    @include flex-row;
                    margin-left: 1rem;
                    width: 100%;

                    &>.infos {
                        width: 60%;
                        &>li{
                            margin: .7rem 0;
                            &>span{
                                font-weight: 500;
                            }
                        }
                    }

                    &>.actions-article {
                        @include flex-row;
                        flex-wrap: wrap;
                        justify-content: flex-end;
                        padding-left: 2rem;
                        width: 40%;
                        text-align: center;
                     
                        &>a{
                            cursor: pointer;
                            flex-basis: 10%;
                            font-size: 2rem;
                            color: var(--bleu);
                            margin: 0 1rem;
                            transition: color .3s;
                            &:hover{
                                color: var(--gris);
                            }
                        }

                        &>p{
                            flex-basis: 100%;
                            font-size: 1.6rem;
                            &>span{
                                font-weight: 500;
                            }
                        }
                    }

                }
            }
        }

        &>form {
            padding: 2em;
            width: 50vw;
            align-items: center;
            background: var(--blanc);

            &>.groupe-champ {
                width: 70%;

                &>label {
                    font-weight: 500;
                }

                &>input {
                    width: 300px;
                    margin-left: auto;

                    &.duree {
                        text-align: center;
                        width: 149px;

                        &:last-of-type {
                            margin-left: 0;
                        }
                    }
                }

                &:last-of-type {
                    margin: 3rem 0;

                    &>.input-image {
                        position: relative;
                        margin-left: 7rem;

                        &>.cherche-image {
                            position: relative;
                            text-align: right;
                            opacity: 0;
                            z-index: 2;

                            &:hover+.fake-input-image>.bouton {
                                box-shadow: none;
                                color: var(--blanc) !important;
                                background-color: var(--bleu);
                            }
                        }

                        &>.fake-input-image {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}