//----------------------------------------------------//
//                                                    //
//                // NAV PRINCIPALE //                //
//                _navPrincipale.scss                 //
//----------------------------------------------------//


.bouton-remonter{
    display: none; 
    position: fixed;
    top: 100px;
    right: 100px;
}

// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;
