//----------------------------------------------------//
//                                                    //
//                // NAV PRINCIPALE //                //
//                _navPrincipale.scss                 //
//----------------------------------------------------//


.bouton-remonter{
    display: none; 
    position: fixed;
    top: 100px;
    right: 100px;
}

// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;

// .input-image{
//     position: relative;
// }

// .fake-input-image{
//     position: absolute;
//     left: 0;
//     top: 0;
// }

// input.cherche-image{
//     z-index: 1;
//     width: 300px;
//     padding: 1em;
//     opacity: 0;
//     position: relative;
// }

// .fake-input-image .bouton-form{
//     width: 300px;
//     padding: 1em;
//     background-color: green;
// }