//----------------------------------------------------//
//                                                    //
//             // CONTENU SOUS-GRILLE //              //
//             _sousGrilleContenu.scss                //
//----------------------------------------------------//

/*////[Code SCSS structure GRID pour la liste des articles user]
________________________________________________________*/

.liste-vinyles {
    &>.vinyles-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

/*////[Code SCSS structure GRID couche suggestions]
________________________________________________________*/

.suggestions-container {
    display: grid;
    grid-template-columns: auto auto auto;
}