//----------------------------------------------------//
//                                                    //
//                  // POP-UP //                      //
//                  _pop-up.scss                      //
//----------------------------------------------------//

/*////[Code SCSS pop-up de confirmation effacer article admin]
________________________________________________________*/

#pop-up-delete {
    display: none;
}

.pop-up {
    @include pop-up;

    &>a {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.8em;
        color: var(--blanc);
        font-size: 1.2rem;
    }

    &>h3 {
        font-size: 1.1rem;
        background: var(--rouge);
        padding: 1em;
        width: 100%;
        font-weight: 500;
        color: var(--blanc);
    }

    &>article {
        padding: 2em;
        @include flex-row;
        justify-content: center;

        &>img {
            width: 230px;
        }

        &>div {
            @include flex-column;
            margin-left: 1rem;
            align-items: center;
            justify-content: center;


            &>p {
                margin: 1rem 0 3rem 0;
                font-size: 1.2rem;

                &>span {
                    font-weight: 500;
                }
            }

            &>.actions-pop-up {
                &>* {
                    margin: 0 .7rem;
                }

                &>a:first-of-type {
                    @extend .bouton-annuler;
                }

                &>a:last-of-type {
                    @extend .bouton-form-rouge;
                }
            }
        }
    }
}